* {
    padding: 0;
    border: 0;
    margin: 0;
}
a {text-decoration: none; color:inherit; margin: 0; padding: 0; bottom: 0; vertical-align: baseline;
    background-color: transparent; text-decoration: none; display: inline-block; }
    img{vertical-align: bottom;}
    ul li {list-style: none; margin: 0; padding: 0;}
    
    body {line-height: 1; font-family: "Noto Sans KR","Montserrat", sans-serif;}
    html { height: 100%; box-sizing: border-box; overflow-x: hidden;}
    
/* =====================================
            GRID SYSTEM
===================================== */

[class*="col-"] {
   float: left;
   box-sizing: border-box;
   padding: 0 10px;
}

@media(min-width:768px){
    .col-m-1  {width: 8.33%;}
    .col-m-2  {width: 16.66%;}
    .col-m-3  {width: 25%;}
    .col-m-4  {width: 33.33%;}
    .col-m-5  {width: 41.66%;}
    .col-m-6  {width: 50%;}
    .col-m-7  {width: 58.33%;}
    .col-m-8  {width: 66.66%;}
    .col-m-9  {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    }
    @media(min-width:1024px){
        .col-t-1  {width: 8.33%;}
        .col-t-2  {width: 16.66%;}
        .col-t-3  {width: 25%;}
        .col-t-4  {width: 33.33%;}
        .col-t-5  {width: 41.66%;}
        .col-t-6  {width: 50%;}
        .col-t-7  {width: 58.33%;}
        .col-t-8  {width: 66.66%;}
        .col-t-9  {width: 75%;}
        .col-t-10 {width: 83.33%;}
        .col-t-11 {width: 91.66%;}
        .col-t-12 {width: 100%;}
    }
    @media(min-width:1280px){
        .col-d-1  {width: 8.33%;}
        .col-d-2  {width: 16.66%;}
        .col-d-3  {width: 25%;}
        .col-d-4  {width: 33.33%;}
        .col-d-5  {width: 41.66%;}
        .col-d-6  {width: 50%;}
        .col-d-7  {width: 58.33%;}
        .col-d-8  {width: 66.66%;}
        .col-d-9  {width: 75%;}
        .col-d-10 {width: 83.33%;}
        .col-d-11 {width: 91.66%;}
        .col-d-12 {width: 100%;}
    }


/* =====================================
            COMMON SYSTEM
===================================== */

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.layout--center {
    max-width: 100%;
    margin: 0 auto;
}
.layout--table {
    display: table;
    width: 100%;
    height: 100%;
}
.layout--table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* =====================================
         utility
===================================== */
.padding-0 {padding: 0;}

/* =====================================
         design
===================================== */

.body{height: 2000px;}

.float_left{
    float: left;
  }
  .float_right{
    float: right;
  }
  .block{
    display: block;
  }
  /*상단 헤더*/

.p-header_menu-mein{
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
    width: 100%;
    background-color: #ffffff;
    transition: all .5s;
}
.nav-up {
    top: -200px;
  }
.logo_g{
    float: left;
}
.mein_logoimg{
    width: 140px;
    height: 60px;
    float: left;
    margin-top: 8px;
}
.mein_logoimg img{
    width: 100%;
    height: 100%;
}
.p-header_menu-2{
    margin: 0 auto;
    display: table;
    padding-right: 5%;
}
.p-header_menu-3{
    float: right;
    margin-top: 29px;
}
.p-header_menu-3 a{
    font-size: 12px;
    padding-right: 10px;
    border-right: 1px solid;
}
.p-header_menu-3 a:last-child{
    padding-left: 10px;
    border-right: 0;
}
.nav-item{
    float: left;
}
.nav-item a{
    font-size: 16px;
    font-weight: bold;
    padding: 25px;
    margin: 5px 20px;

}
/*상단 헤더*/

/*메인컨탠츠*/
.carousel-caption{
    position: relative;
}

.carousel-caption p{
    position: absolute;
    width: 100%;
    top: -460px;
    font-size: 100px;
}

/*메인컨탠츠*/

/*중간 컨탠츠*/
.New_text{margin-left: 170px;}
.News{
    width: 160px;
    font-size: 60px;
    font-weight: bold;
    border-bottom: 2px solid #aa1238;
    margin: 30px auto;
    float: left;
}
.c_nav{
    padding: 0 120px;
}
[class*="content-"]{
    width: 33.33%;
    height: 250px;
    float: left;
}
[class*="content_img_"]{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.content_img_1{
    background-image: url(../img/lgdisplay.jpg);
}
.content_img_2{
    background-image: url(../img/lgu.jpg);
}
.content_img_3{
    background-image: url(../img/lgtwins.jpg);
}
.content_img_4{
    background-image: url(../img/todrjstodrjs.jpeg);
}
.content_img_5{
    background-image: url(../img/signature.jpg);
}
.content_img_6{
    background-image: url(../img/int.png);
}
.content_img_7{
    background-image: url(../img/park.png);
}
.content_img_8{
    background-image: url(../img/g8.jpg);
}
.content_img_9{
    background-image: url(../img/lgdisplay.jpg);
}
[class*="content_img_"]:hover .back{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    transition: all .4s ease-in-out;
    -webkit-
    -moz-
    -ms-
    -o-
}
.back {height:100%;}

.none_text_bg {
    position:relative; 
    height:100%;
}
.none_text_bg a {
    position:absolute; 
    left:50%; 
    top:70%; 
    width:100%;
    padding: 0 5px;
    text-align:center; 
    transform:translate(-50%, -50%);
}
.none_text{
    opacity: 0;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.none_text p{
    font-size: 12px;
    font-weight: 500;
}
.back:hover .none_text{
    opacity: 1;
    color: #ebebeb;
    transition: all .6s ease-in-out;
    -webkit-
    -moz-
    -ms-
    -o-
}
/*중간 컨탠츠*/

/*중하단 컨탠츠*/
.contribution{
    position: relative;
    height: 860px;
    background-color:;
}

[class*="contribution_part_"]{
    position: absolute;
    overflow: hidden;
}
[class*="contribution_img_"]{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 2s;
}
[class*='contribution_link_']{
    margin-top: 10px;
    padding: 30px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #ffffff;
    opacity: 0;
    transition: all 2s
}

[class*='contribution_img_']:hover{
    transform: scale(1.2)
}
[class*='contribution_img_']:hover [class*='contribution_link_']{
    opacity: 1;
    color: #ffffff;
}
.contribution_part_1{
    width: 440px;
    height: 280px;
    top: 120px;
    left: 300px;
}
.contribution_img_1{
    background-image: url(../img/img_contribution01.jpg);
}
.contribution_part_2{
    width: 360px;
    height: 280px;
    top: 160px;
    left: 800px;
}
.contribution_img_2{
    background-image: url(../img/img_contribution02.jpg);
}
.contribution_part_3{
    width: 400px;
    height: 200px;
    top: 480px;
    left: 240px;
}
.contribution_img_3{
    background-image: url(../img/img_contribution03.jpg);
}
.contribution_part_4{
    width: 300px;
    height: 300px;
    top: 450px;
    left: 700px;
}
.contribution_img_4{
    background-image: url(../img/img_contribution04.jpg);
}
.contribution_part_6{
    width: 100px;
    height: 130px;
    top: 500px;
    left: 1020px;
}
.contribution_img_6{
    background-image:url(../img/pap.png);
}
.contribution_part_5{
    width: 290px;
    height: 290px;
    top: 240px;
    left: 20px;
    border: 3px solid gray;
}
.contribution_main_t{
    font-size: 100px;
}
.contribution_text{
    font-size: 20px;
    line-height: 1.1;
}


/*중하단 컨탠츠*/

/*푸터*/
footer{
    position: relative;
    background-color: #cccccc;
    height: 90px;
    text-align: center;
    font-size: 10px;
}
.footer_bgcolor{
    position: absolute;
    top: 38px;
    left: 20px;
}
[class*="footer_part_"]{
    float: left;
    padding: 0 10px;;
    border-right: 1px solid #696969;
}
.footer_part_1{
    width: 60px;
    height: 15px;
    top: 0;
    left: 0;
}
.footer_part_1 img{
    width: 100%;
    height: 100%;
}
.footer_part_4{
    border-right: 0px solid #696969;
}
.sub_company{
    position: absolute;
    top: 28px;
    right: 20px;
}
