$gid_lgc:#aa1238;
$gid_lgb:#cccccc;
* {
    padding: 0;
    border: 0;
    margin: 0;
}
a {text-decoration: none; color:inherit; margin: 0; padding: 0; bottom: 0; vertical-align: baseline;
    background-color: transparent; text-decoration: none; display: inline-block; }
    img{vertical-align: bottom;}
    ul li {list-style: none; margin: 0; padding: 0;}
    
    body {line-height: 1; font-family: "Noto Sans KR","Montserrat", sans-serif;}
    html { height: 100%; box-sizing: border-box; overflow-x: hidden;}
    
/* =====================================
            GRID SYSTEM
===================================== */

[class*="col-"] {
   float: left;
   box-sizing: border-box;
   padding: 0 10px;
}

@media(min-width:768px){
    .col-m-1  {width: 8.33%;}
    .col-m-2  {width: 16.66%;}
    .col-m-3  {width: 25%;}
    .col-m-4  {width: 33.33%;}
    .col-m-5  {width: 41.66%;}
    .col-m-6  {width: 50%;}
    .col-m-7  {width: 58.33%;}
    .col-m-8  {width: 66.66%;}
    .col-m-9  {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    }
    @media(min-width:1024px){
        .col-t-1  {width: 8.33%;}
        .col-t-2  {width: 16.66%;}
        .col-t-3  {width: 25%;}
        .col-t-4  {width: 33.33%;}
        .col-t-5  {width: 41.66%;}
        .col-t-6  {width: 50%;}
        .col-t-7  {width: 58.33%;}
        .col-t-8  {width: 66.66%;}
        .col-t-9  {width: 75%;}
        .col-t-10 {width: 83.33%;}
        .col-t-11 {width: 91.66%;}
        .col-t-12 {width: 100%;}
    }
    @media(min-width:1280px){
        .col-d-1  {width: 8.33%;}
        .col-d-2  {width: 16.66%;}
        .col-d-3  {width: 25%;}
        .col-d-4  {width: 33.33%;}
        .col-d-5  {width: 41.66%;}
        .col-d-6  {width: 50%;}
        .col-d-7  {width: 58.33%;}
        .col-d-8  {width: 66.66%;}
        .col-d-9  {width: 75%;}
        .col-d-10 {width: 83.33%;}
        .col-d-11 {width: 91.66%;}
        .col-d-12 {width: 100%;}
    }


/* =====================================
            COMMON SYSTEM
===================================== */

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.layout--center {
    max-width: 1200px;
    margin: 0 auto;
}
.layout--table {
    display: table;
    width: 100%;
    height: 100%;
}
.layout--table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* =====================================
         utility
===================================== */
.padding-0 {padding: 0;}

/* =====================================
         design
===================================== */
.LG_color{
    color: #aa1238;
    display: inline-block;
}
/*상단 헤더*/
.top_bg{
    margin-top: 100px;
    position: relative;
    .top_text1{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -30px;
        font-size: 50px;
        color: #ffffff;
    }
    .top_text2{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -240px;
        font-size: 30px;
        color: #ffffff;
    }
}
.top_bg img{
    width: 100%;
    height: 265px;
}

.p-header_menu-mein{
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
    width: 100%;
    background-color: #ffffff;
    transition: all .5s;
}
.nav-up {
    top: -200px;
  }
.logo_g{
    float: left;
}
.mein_logoimg{
    width: 140px;
    height: 60px;
    float: left;
    margin-top: 8px;
}
.mein_logoimg img{
    width: 100%;
    height: 100%;
}
.p-header_menu-2{
    margin: 0 auto;
    display: table;
    padding-right: 5%;
}
.p-header_menu-3{
    float: right;
    margin-top: 29px;
}
.p-header_menu-3 a{
    font-size: 12px;
    padding-right: 10px;
    border-right: 1px solid;
}
.p-header_menu-3 a:last-child{
    padding-left: 10px;
    border-right: 0;
}
.nav-item{
    float: left;
}
.nav-item a{
    font-size: 16px;
    font-weight: bold;
    padding: 25px;
    margin: 5px 20px;

}
/*상단 헤더*/
//센터
.cneter{
    width: 980px;
    margin: 0 auto;
    margin-top: 100px;
} 
/* CI이야기 */ 
.long_t_up{
    margin: 30px 0;
    font-size: 30px;
    p{
        
        display: inline-block;
    }
}
.content_text{
    font-size: 16px;
    text-align: left;
     margin: 20px 0;
}
.summary-list{
    margin: 50px auto;
    margin-right: 5px;
    width: 990px;
}

.summary-list div{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 300;
}

.first{
    padding: 0 40px;
}
.outline img{
    width: 980px;
    margin: 20px 0;
}
/* CI이야기 */

/* CI 제정과 선포*/ 
.tit_h2 h2{
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}
.ci_g{
    width: 100%;
}
.change img{
    width: 100%;
}
.symbol_mark{
    h3{
        margin-top: 100px;
        text-align: center;
    }
    .logoimg{
        text-align: center;
    }
    .lglogo{
        width: 500px;
        margin: 50px 25% 0 25%;
    }
    .size_logo{
        width: 800px;
        margin: 20px 10% 0 10%;
    }
}
.meaning{
    margin: 50px 0;
}
.meaning_img{ float: left;}
.meaning_img img{
    width: 200px;
}
.meaning_text{
    margin-top: 100px;
}
.meaning_text h4{
}

/* 사이드바 */
.sidebar{
    position: fixed;
    top: 30%;
    left: 20px;
    z-index: 9999;
    height: 60px;
    text-align: center;
}

.sidebar ul{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.fixed-header a {
    display: block;
    line-height: 60px;
    color: #444;
    text-decoration: none;
    padding: 0 20px;
    -webkit-transition: 0.2s;
            transition: 0.2s;
  }
  
  .fixed-header .active a {
    background: #aa1238;
    color: #FFF;
  } 
/* 사이드바 */

/*푸터*/
footer{
    position: relative;
    background-color: #cccccc;
    height: 90px;
    text-align: center;
    font-size: 10px;
}
.footer_bgcolor{
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -7px;
}
[class*="footer_part_"]{
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;;
    border-right: 1px solid #696969;
}
.footer_part_1{
    width: 60px;
    height: 15px;
    top: 0;
    left: 0;
}
.footer_part_1 img{
    width: 100%;
    height: 100%;
}
.footer_part_4{
    border-right: 0px solid #696969;
}
.sub_company{
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -10px;
}
.footer_text{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -88px;
}